.repositoriesPage {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.repositories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1vw;
    column-gap: 2vw;
    padding: 0.7vw 1.4vw;
}

.repositoriesPage .warning{
    font-size: 1vw;
    color: #888888;
    align-self: center;
    margin: auto auto;
}

/* .pageButtons {
    align-self: center;
    display: flex;
    flex-direction: row;
}

.pageButtons button{
    border: none;
    font-size: 0.9vw;
    color: #454545;
}
.pageButtons button:hover{
    background-color: #E3E3E3;
    border-radius: 1vw;
}
.pageButtons .activePage{
    background-color: #E3E3E3;
    border-radius: 1vw;
}


.pageButtons .prevButton,
.pageButtons .nextButton
{
    color: #888888;
    margin: 0 1vw;
}

.pageButtons .prevButton + button {
    background-color: #E3E3E3;
    border-radius: 1vw;
} */

