.userAdditional {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f4f4f4;
    font-size: 1vw;
    max-height: 40vh;
    max-width: 14vw;
    overflow: hidden;
}

.label {
    color: #989898;
    font-size: 1.35vw;
    margin-top: 0.2vw;
    font-variant: small-caps;
}

.organizations {
    color: #f4f4f4;
    font-size: 1.4vw;
    margin-top: 1vw;
    font-variant: small-caps;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userAdditional a {
    color: #f4f4f4;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 12vw;
}

a:hover {
    text-decoration: underline;
}

.pictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pictures img {
    width: 2vw;
    border-radius: 30%;
    margin: 0.2vw 0.2vw;
    border: 0.1vw solid rgb(95, 95, 95);
    background-color: rgb(95, 95, 95);
    cursor: pointer;
}

.small,
.small + a,
.small span {
    font-size: 1.2vw;
}

.small + span, 
.small + a {
    font-size: 0.9vw;
}

.small img{
    width: 1.4vw;
}