.userHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15vw;
    color: #f4f4f4;
    font-size: 1vw;
}
.userHead img {
    width: 12vw;
    border-radius: 50%;
    margin-top: 1vw;
    border: 0.2vw solid rgb(95, 95, 95);
}
.username {
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 1.7vw;
    margin-bottom: 0.5vw;
}

.separatorLine {
    border-bottom:  0.2vh solid #f4f4f4;
    width: 60%;
}

.commonInfo {
    display: grid;
    grid-template-columns: 2fr 0.3fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "follower empty star count"
    "following empty star count";
    margin: 1vw;
    align-items: center;
}
.follower {
    grid-area: follower;
}
.following {
    grid-area: following;
}

.star {
    fill: #989898;
    grid-area: star;
    justify-self: center;
}

.star:hover {
    fill: #F9DE59;
}

.star + span {
    grid-area: count;
    font-size: 1.1vw;
}

.repoInfo {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 1vw;
}

