.userPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15vw;
    position: relative;
}

.created {
    margin: auto 1vw 1vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f4f4f4;
    font-size: 1.3vw;
    font-variant: small-caps;
    max-width: 15vw;
}

.changeUserIcon {
    width: 1.9vw;
    /* height: 1vh; */
    /* fill: rgba(244, 244, 244, 60%); */
    fill: #989898;
    position: absolute;
    left: 0.95vw;
    top: 0.65vw;
    /* right: 10vw; */
    cursor: pointer;
    visibility: collapse;
}
.changeUserIcon:hover {
    fill: #dddddd;
}
.changeUserIcon.show{
   visibility: visible;
}