.mainInfo {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 2.7fr 2.3fr 3.5fr;
    grid-template-areas: 
    "languages activity"
    "languages recentActivity"
    "repositories repositories";
    background-color: #F4F4F4;
}

.userLanguages {
    grid-area: languages;
}

.userActivity {
    grid-area: activity;

}

.userRecentActivity {
    grid-area: recentActivity;
    background-color: green;
}

.userRepositories {
    grid-area: repositories;
}