.repoSquare {
    width: 85%;
    height: 5vh;
    border: 0.2vw solid #F9DE59;
    border-radius: 0.5vh;
    display: grid;
    grid-template-columns: 8fr 1.8fr 3fr;
    /* grid-template-rows: 1fr; */
    /* align-items: center; */
    padding: 0 0.9vw 0 1vw;
    /* background-color: rgb(255, 214, 223); */
    color: #646464;
    /*stop*/
    gap: 0.5vw;
}
.repoSquare .mainInfo{
    /* background-color: crimson; */
    grid-column: 1;
    grid-row: 1;
     display: flex;
   /* flex-direction: row;*/
    align-items: center; 
    /* max-width: 90%;
    height: 3vh; */
    max-width: 17vw;
}

.repoSquare .nameRepo {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 1.1vw;
    /* margin-bottom: 0.5vw; */
}

.repoSquare .updateRepo{
    grid-column: 3;
    /* grid-row: 1; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #888888;
    font-size: 1.1vw;
    /* background-color: cyan; */
    /* line-height: 2.2vh; */
}

.repoSquare .updateRepo span:first-child {
    line-height: 2vh;
}

.repoSquare .stars {
    grid-column: 2;
    display: flex;
    /* align-items: center; */
    align-self: center;
    justify-self: flex-start;
    font-size: 1vw;
    gap: 0.2vw;
}

.repoSquare .link {
    width: 1vw;
    height: 1vw;
    margin-top: 0.3vw;
    margin-left: 0.4vw;
    fill: #646464;
}
.repoSquare .link:hover {
    cursor: pointer;
    fill: #838383;
}

.repoSquare .star {
    width: 1.4vw;
    height: 1.4vw;
    /* margin-bottom: 0.15vw; */
    fill: #646464;
    align-self: center;
}

