.repoBall {
    /* width: 13.5vw;
    height: 13.5vw; */
    width: 13.5vw;
    height: 13.4vw;
    border: 0.3vw solid #F9DE59;
    border-radius: 50%;
    margin: 0 1.12vw;
    display: grid;
    grid-template-rows: 3fr 0.8fr 2.2fr 0.8fr 3fr;
    grid-template-areas: 
    "stars"
    "copyMess"
    "nameInfo"
    "empty"
    "update";
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.repoBall .stars {
    grid-area: stars;
    justify-self: end;
    margin-right: 1.8vw;
    align-self: flex-end;
}

.repoBall .stars span {
    font-size: 1.2vw;
    margin-left: 0.2vw;
    vertical-align: super;
    position: relative;
    bottom: 0.13em;
}

.infoRepo {
    grid-area: nameInfo;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 1vw;
    margin-top: 0.5vw;
}

.repoBall .nameRepo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2vw;
    
}
.repoBall .nameRepo span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 9.5vw;
    max-height: 9.5vw;
}

.fork {
    align-self: flex-end;
    color: #888888;
    font-size: 0.9vw;
}

.repoBall .updateRepo {
    grid-area: update;
    align-self: flex-start;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #646464;
    font-size: 1.1vw;
}

.updateRepo span:first-child {
    font-variant: small-caps;
}
.updateRepo span:first-child + span {
    font-size: 0.9vw;
}

.repoBall .link {
    width: 1vw;
    height: 1vw;
    margin-top: 0.3vw;
    margin-left: 0.4vw;
    fill: #646464;
}
.repoBall .link:hover {
    cursor: pointer;
    fill: #838383;
}

.hidden {
    visibility: hidden;
}

.repoBall .star {
    width: 1.5vw;
    height: 1.5vw;
    margin-bottom: 0.15vw;
    fill: #646464;
}

.copyMessage {
    position: relative;
    justify-self: center;
    grid-area: copyMess;
    align-self: center;
    color: #888888;
    font-size: 0.75vw;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.copyMessage.hide{
    display: none;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* .repoBall .star + span {
    font-size: 1vw;
} */