.userRepositories {
    color: #454545;
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
        'head'
        'balls';
}

.head {
    grid-area: head;
    display: flex;
    background-color: #eeeeee;
    font-variant: small-caps;
    font-size: 1.3vw;
    /* height: 4vh; */
    align-items: center;
    padding: 0 0 0.5vh 1vw;
}

.balls {
    grid-area: balls;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    padding: 0 2vw;
}

.balls .repoBall:first-child {
    border: 0.3vw solid #F9DE59;
}
.balls .repoBall:first-child:hover {
    background-color: rgba(249, 222, 89, 0.5);
    /* border: 0.5vw solid #F9DE59; */
}

.balls .repoBall:first-child + div {
    border: 0.3vw solid #e8a628;
}

.balls .repoBall:first-child + div:hover {
    background-color: rgba(232, 166, 40, 0.5);;
}

.balls .repoBall:first-child + div + div {
    border: 0.3vw solid #F98365;
}

.balls .repoBall:first-child + div + div:hover {
    background-color: rgba(249, 131, 101, 0.5);
}

.balls .repoBall:first-child + div + div + div {
    border: 0.3vw solid #CDDA95;
}

.balls .repoBall:first-child + div + div + div:hover {
    background-color: rgba(205, 218, 149, 0.5);
}

.balls .repoBall:last-child {
    border: 0.3vw solid #A1DFFB;
}

.balls .repoBall:last-child:hover {
    background-color: rgba(161, 223, 251, 0.5);
}

.userRepositories .warning {
    font-size: 1vw;
    color: #888888;
    align-self: center;
    margin: auto auto;
}