.userLanguages {
    color: #454545;
    display: grid;
    grid-template-rows: 0.5fr 8fr;
    grid-template-areas:
        'head'
        'lang';
    overflow: hidden;
}

.userLanguages .langStatistics {
    grid-area: lang;
    display: grid;
    height: 90%;
    width: 90%;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comparePanel .langStatistics {
    grid-area: lang;
    display: grid;
    align-self: center;
    justify-self: center;
}

.userLanguages .head {
    margin-top: 1vh;
}