.userRecentActivity {
    color: #454545;
    display: grid;
    grid-template-rows: 0.5fr 6fr;
    grid-template-areas:
        'head'
        'recentActiv';
}

.userRecentActivity .recentActivity,
.comparePanel .recentActivity,
.repository .recentActivity {
    border: 0.1vh solid #c4c4c4;
    border-radius: 5vh;
    display: flex;
    flex-direction: row;
    color: #454545;
}

.comparePanel .recentActivity,
.repository .recentActivity {
    padding-top: 0.3vw;
    width: 100%;
    height: 100%;
    block-size: fit-content;
    justify-self: center;
}

.userRecentActivity .recentActivity {
    grid-area: recentActiv;
    margin: 0.3vw 1vw;
    padding: 0.3vw 0;
    max-width: 45vw;
    max-height: 95%;
}

.repository .recentActivity {
    padding-bottom: 0.3vw;
}

.comparePanel .recentActivity {
    padding-bottom: 0.7vw;
}

.comparePanel .activityItem {
    font-size: 0.9vw;
    margin-top: 0.5vh;
    margin-bottom: 0.6vh;
}

.comparePanel .recentActivity .content {
    margin-right: 0.9vw;
}

.comparePanel .line,
.repository .line {
    position: relative;
    left: 2.01vw;
    background-color: #c4c4c4;
    width: 0.15vh;
    height: auto;
    margin: 1vh 0;
}

.recentActivity .line {
    position: relative;
    left: 2.01vw;
    background-color: #c4c4c4;
    width: 0.15vh;
    min-height: 90%;
    margin: 1vh 0;
}

.recentActivity .warning {
    font-size: 1vw;
    color: #888888;
    align-self: center;
    margin: auto auto;
    max-width: 80%;
}

.recentActivity .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 1.4vw;
}

.recentActivity .year {
    font-size: 0.9vw;
    margin-left: 1vw;
    margin: 0.4vh 1.2vw;
    color: #888888;
}