.partnerPanel .partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partnerPanel .partner span {
    font-size: 1.1em;
    color: #646464;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 7.5vw;
}

.partners .partner img {
    width: 5.3vw;
    border-radius: 1vw;
}

.comparePanel .partner img {
    width: 7.1vw;
    border-radius: 1vw;
}