.comparation {
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    /* display: grid;
    grid-template-columns: 9.5fr 2fr;
    grid-template-areas: 
    "info user"; */
    
}

/* .comparation .userPanel {
    grid-area: user;
    
}

.comparation .dataCompare {
    grid-area: info;
    display: flex;
    flex-direction: column;
} */

.comparationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.comparationContent {
    display: grid;
    grid-template-columns: 9.5fr 2fr;
    grid-template-areas: 
    "compareContent compareUser"; 
    height: 100%;
}
.comparationContent .userPanel{
    grid-area: compareUser;
    height: 100%;
}

.comparationContent .dataCompare {
    grid-area: compareContent;
}

