.nicknameInput {
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
    display: grid;
    grid-template-rows: 0.5fr 1.2fr 15fr;
}

.nicknameInput .headLogo {
    grid-row: 2;
}

.loginForm {
    grid-row: 3;
    align-self: center;
    justify-self: center;
    border: #979797 solid 0.1vw;
    border-radius: 4vh;
    padding: 3vw;
    display: flex;
    flex-direction: column;
}
