.repository {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    color: #454545;
    height: 100%;
    width: 100%;
}

.repositoryHead {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1vh;
}

.upadateDate {
    position: absolute;
    right: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #646464;
    font-size: 0.9vw;
    
}

.upadateDate span:first-child {
    font-variant: small-caps;
    font-size: 1.1vw;
}

.repositoryName {
    font-size: 2.6vw;
    background-color: #eeeeee;
    padding: 0 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.5vw;
    line-height: 2vw;
    gap: 0.5vw;
}

.repositoryName > span {
    font-size: 2vw;
    padding-top: 0.5vw;
    cursor: pointer;
}
.repositoryName > span:hover {
    color: #686868;
}

.repositoryFork {
    color: #888888;
    font-size: 1.1vw;
    padding: 0 1.5vw;
}

.repository .statistics {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'languageRepo issueAvgRepo'
        'activityRepo issueCountRepo';
    align-self: center;
    column-gap: 3vw;
    max-height: 65vh;
}

.repository .languageRepo {
    grid-area: languageRepo;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 35vh;
}

.repository .issueAvgRepo {
    grid-area: issueAvgRepo;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 35vh;
}

.repository .userIssues,
.repository .langStatistics {
    margin: auto 0;
}

.repository .activityRepo {
    grid-area: activityRepo;
}

.repository .issueCountRepo {
    grid-area: issueCountRepo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.issueAvgRepo .head {
    align-self: center;
    padding-left: 0;
}

.repository .warning {
    font-size: 1vw;
    color: #888888;
    align-self: center;
    margin: auto auto;
}

.repository .link {
    width: 1.6vw;
    height: 1.4vw;
    margin-left: 0.5vw;
    fill: #646464;
}

.repository .link:hover {
    cursor: pointer;
    fill: #838383;
}

.repository .copyMessage {
    font-size: 1vw;
    padding-top: 1vh;
}