.cls-1 {
    isolation: isolate;
}
.cls-2 {
    fill: #fff;
}
.cls-21 {
    fill: rgba(255, 255, 255, 0);
}
.cls-3 {
    fill: #F9DE59;
}
.cls-4 {
    fill: #3a2409;
}
.cls-5 {
    fill: #cfcfcf;
}
.cls-6 {
    fill: #454545;
    mix-blend-mode: overlay;
}
.cls-7 {
    fill: #575656;
}
.cls-8 {
    fill: #F9DE59;
}
.cls-9 {
    fill: #F98365;
}
.cls-10 {
    fill: #A1DFFB;
}
.cls-11 {
    fill: #CDDA95;
}
.cls-12 {
    fill: #e1eea6;
}
.cls-13 {
    fill: #8ca12b;
}
.cls-14 {
    fill: #E8A628;
}
.cls-15 {
    fill: none;
    stroke: #3a2409;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 25px;
}
.cls-16 {
    fill: #F98365;
}