.cls-1 {
    isolation: isolate;
}
.cls-2 {
    fill: #fff;
    /* fill: rgba(255, 255, 255, 0); */
}
.cls-21 {
    fill: rgba(255, 255, 255, 0);
    /* fill: rgba(255, 255, 255, 0); */
}
.cls-3 {
    /* fill: #f4dd7a; */
    fill: #F9DE59;
}
.cls-4 {
    fill: #3a2409;
}
.cls-5 {
    /* fill: #e0e0e0; */
    fill: #cfcfcf;
}
.cls-6 {
    fill: #454545;
    mix-blend-mode: overlay;
}
.cls-7 {
    fill: #575656;
}
.cls-8 {
    /* fill: #e23b3b; */
    fill: #F9DE59;
}
.cls-9 {
    /* fill: #fce332; */
    fill: #F98365;
}
.cls-10 {
    /* fill: #46cc46; */
    fill: #A1DFFB;
}
.cls-11 {
    fill: #CDDA95;
}
.cls-12 {
    fill: #e1eea6;
}
.cls-13 {
    fill: #8ca12b;
}
.cls-14 {
    fill: #E8A628;
}
.cls-15 {
    fill: none;
    stroke: #3a2409;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 25px;
}
.cls-16 {
    fill: #F98365;
}

/* .st0 {
    fill: rgba(255, 255, 255, 0);
}
.st1 {
    fill: #f4dd7a;
}
.st2 {
    fill: #3a2409;
}
.st3 {
    fill: #e0e0e0;
}
.st4 {
    fill: #231f20;
}
.st5 {
    fill: #7a6f6f;
}
.st6 {
    fill: #e23b3b;
}
.st7 {
    fill: #fce332;
}
.st8 {
    fill: #46cc46;
}
.st9 {
    fill: #60bc4a;
}
.st10 {
    fill: #a5e291;
}
.st11 {
    fill: #479b2f;
}
.st12 {
    fill: #ffbc27;
}
.st13 {
    fill: none;
    stroke: #3a2409;
    stroke-width: 25;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.st14 {
    fill: #bc2626;
}
 */
