.App {
    height: 100vh;
    width: 100vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.canSelect {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
    cursor: default;
}
.noSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*.tabBar {
  grid-area: tabBar;
  background-color: #454545;
}

.userPanel {
  grid-area: userPanel;
  background-color: #575656;
}

.mainInfo {
  grid-area: mainInfo;
}

.App-link {
    color: #61dafb;
} */
